<nav class="light-green lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">
    <img width=63 src="assets/primamota-logo-512.png" /></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#login">Login</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#login">Login</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center red-text">PrimaMota!</h1>
    <div class="row center">
      <h5 class="header col s12 light">The first motion...</h5>
    </div>
    <div class="row center">
      <a href="https://www.meetup.com/PrimaMota-older-women-supporters-participating-in-civics/"
         target="_blank" class="btn-large waves-effect waves-light red">Join us</a>
    </div>
    <br><br>

  </div>
</div>

<div class="white-bg">
<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row center light-green">&nbsp;</div>
    <div class="row center">
        <h5 class="header col s12 light green-text">Current civic engagement atmosphere:</h5>
      <div class="col s12 m4">
        <div class="icon-block">
<!--
          <h2 class="center light-green-text"><i class="material-icons">flash_on</i></h2>
-->
          <h2 class="center light-green-text"><i class="material-icons">—</i></h2>
          <h5 class="center">Fake news</h5>

          <p class="light">Hard to identify what’s real:
          </p>
          <ul>
            <li class="light"><span class="light-green-text">✔</span> Media presentation is confusing</li>
            <li class="light"><span class="light-green-text">✔</span> Critical media skills are needed</li>
            <li class="light"><span class="light-green-text">✔</span> Reactive instead of proactive (reading not making headlines)</li>
          </ul>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
<!--
          <h2 class="center light-green-text"><i class="material-icons">group</i></h2>
-->
          <h2 class="center light-green-text"><i class="material-icons">—</i></h2>
          <h5 class="center">¿Priorities?</h5>

          <p class="light">Political landscape is unpredictable:
          </p>
          <ul>
            <li class="light"><span class="light-green-text">✔</span> Push from the center?</li>
            <li class="light"><span class="light-green-text">✔</span> Pick an issue?</li>
            <li class="light"><span class="light-green-text">✔</span> Do flash actions?</li>
            <li class="light"><span class="light-green-text">✔</span> Work behind the scenes?</li>
          </ul>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
<!--
          <h2 class="center light-green-text"><i class="material-icons">settings</i></h2>
-->
          <h2 class="center light-green-text"><i class="material-icons">—</i></h2>
          <h5 class="center">How we engage</h5>

          <p class="light">A will without a way::
          </p>
          <ul>
            <li class="light"><span class="light-green-text">✔</span> It’s not clear how (“bring our kids?”)</li>
            <li class="light"><span class="light-green-text">✔</span> Need basics of how to speak up, speak out, and be outspoken</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section">
  <div class="row center"><img src="assets/PrimaMota-proposed-features.svg" /> </div>
  </div>
</div>
</div>

<footer class="page-footer pink">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a small group of Bay Area older women & their supporters,
          part of the diy tech civics movement,
          who have worked on several projects together.

        </p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Who we are</h5>
        <ul>
          <li><a class="white-text" href="#!"><span class="green-text text-lighten-3">Julee </span> juleeburdekin.com @pequodcapt github/theship
          </a></li>
          <li><a class="white-text" href="#!"><span class="green-text text-lighten-3">Benay </span> sensorydatascience.com/ @benayda github/benayda
          </a></li>
          <li><a class="white-text" href="#!"><span class="green-text text-lighten-3">Andrea</span> github/patandrea</a></li>
          <li><a class="white-text" href="#!">Onboarding new team members… Join us! Adopt us!</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text"
                 href="https://devpost.com/theship?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav">some past projects</a></li>
          <li><a class="white-text" href="https://github.com/PrimaMota">GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      PrimaMota <a class="red-text text-lighten-3"
                   href="https://github.com/PrimaMota/primamota-app" target="_blank">GitHub repo</a>
    </div>
  </div>
</footer>
