<h1>
  {{title}}
</h1>
<!--<ul>
<li class="text" *ngFor="let item of items | async">
  {{item.$value}}
</li>
</ul>
<button md-raised-button (click)="login()">
<img width="30" src="google-logo.png" />Use My Google Account
</button>
<button md-raised-button (click)="logout()">
Logout
</button>-->

<nav class="light-green lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">
    <img width=63 src="assets/primamota-logo-512.png" /></a>
    <ul class="right hide-on-med-and-down">


      <li>        <button light-green md-raised-button (click)="logout()">
        Logout
      </button>
      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li>        <button md-raised-button (click)="logout()">
        Logout
      </button>
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

  <section [ngSwitch]="isAuth">

    <h3 *ngSwitchCase="false">Choose your Federated Identity Provider</h3>

    <md-card *ngSwitchCase="false">

      <button md-raised-button (click)="login('google')">
        <img width="30" src="assets/google-temp.png" />&nbsp; Use My Google Account
      </button>

      <button md-raised-button (click)="login('facebook')">
        <img width="30" src="assets/facebook-temp.png" />&nbsp; Use My Facebook Account
      </button>

      <button md-raised-button (click)="login('twitter')">
        <img width="30" src="assets/twitter-temp.png" />&nbsp; Use My Twitter Account
      </button>

      <button md-raised-button (click)="login('github')">
        <img width="30" src="assets/github-temp.png" />&nbsp; Use My Github Account
      </button>

    </md-card>

    <md-card *ngSwitchCase="true">
      <md-card-header>
        <img md-card-avatar [src]="user.avatar || 'avatar.png'">
        <md-card-title>{{ user.name }}</md-card-title>
        <md-card-subtitle>{{ user.email || '(no email)' }}</md-card-subtitle>
      </md-card-header>
      <div class="row center light-green">&nbsp;</div>
      <md-card-content>
        <p>You are logged in using <strong>{{ user.provider }}</strong></p>
      </md-card-content>

        <button md-raised-button (click)="logout()">
          Logout
        </button>

    </md-card>


  </section>
